{% block css %}
<style>

#logo-ld {
    width: 8vw;
}

#fond-footer {
    background-color: #EDEDED;
}

</style>
{% endblock %}

<footer id="fond-footer">

    <div class="row">
        <!-- Menu de navigation -->
        <div class="col-sm-4 justify-content-center">
            <nav class="d-block m-4">
                <a class="text-decoration-none" href="/">Accueil</a>
                <a class="text-decoration-none" href="/ads">Annonces</a>
                <a class="text-decoration-none" href="/add-post">Ajouter une annonce</a>
                <a class="text-decoration-none" href="#a-propos">À propos</a>
                <a class="text-decoration-none" href="/tuto">Tutoriels</a>
                <a class="text-decoration-none" href="/contact">Nos contacts</a>
                <a class="text-decoration-none" href="/partenaires">Nos partenaires</a>
            </nav>
        </div>

       <!-- Logo LostDog -->
        <div class="col-sm-4 justify-content-center d-flex align-items-center">
            <a href="/">
                <img id="logo-ld" class="m-4" src="/images/logo-lostdog.png" alt="Lost Dog">
            </a>
        </div>

        <!-- Lien de la page Facebook -->
        <div class="col-sm-4 justify-content-center d-flex align-items-center">
            <h6 class="m-4">Suivez-nous</h6>
            <a href="https://www.facebook.com/groups/978594255954364/" alt="Page Facebook du Groupe de Lost Dog">
                <i class="fab fa-facebook-square m-4"></i>
            </a>
        </div>
    </div>

</footer>
