<footer>

<!-- Menu de navigation -->
<div>
    <nav>
        <a href="home.html">Accueil</a>
        <a href="">Annonces</a>
        <a href="">Ajouter une annonce</a>
        <a href="">À propos</a>
    </nav>
</div>

<!-- Logo LostDog -->
<div>
    <img src="public/images/logo-lostdog.png" alt="Lost Dog">
</div>

<!-- Lien de la page Facebook -->
<div>
    <h6>Suivez-nous</h6>
    <a href="https://www.facebook.com/groups/978594255954364/" alt="Page Facebook du Groupe de Lost Dog">
        <i class="fab fa-facebook-square"></i>
    </a>
</div>

</footer>
