{% block css %}
<style>

.footer-bloc {
    color: black;
    background-color: #f7f7f7;
}

#dx-bloc {
    background-color: #f5e400;
    color: black;
}

#logo-pic {
    width: 10vw;
}

#icon-rs {
    color: black;
    font-size: 3vw;
}

.dsp-flx {
    display: flex;
    align-items: center;
}

.links-footer {
    text-decoration: none;
}

.nav-footer {
    list-style-type: none;
    display: flex;
    flex-flow: column;
}

.nav-footer a {
    color: black;
}

.nav-footer a:hover {
    color: black;
    text-decoration: underline 3px #f5e400;
}

.link-dx-bloc {
    color: black;
}

.link-dx-bloc:hover {
    color: black;
    text-decoration: underline;
}

#size-fnt-footer {
    color: black;
    font-size: small;
}

</style>
{% endblock %}

<footer class="font-default footer-bloc" id="size-fnt-footer">

        <!--Premier bloc-->
        <div class="container">
            
            <div class="row">

                <!--A propos-->
                <div class="col-sm m-4">
                    <h5 class="font-title text-uppercase">À propos de nous</h5>
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Explicabo, saepe quisquam, quo neque totam cum accusantium numquam excepturi culpa placeat autem veritatis, 
                        perspiciatis illo minima ea in. Ipsa, officiis quidem.
                    </p>
                </div>

                <!--Logo-->
                <div class="col-sm text-center m-4">
                    <a href="/">
                        <img id="logo-pic" src="/images/logo-lostdog.png">
                    </a>
                    <h4 class="font-site">Lost Dog</h4>
                </div>

                <!--Liens des pages internes-->
                <div class="col-sm m-4">
                    <h5 class="font-title text-uppercase">Information</h5>
                    <nav class="nav-footer mt-4">
                        <a class="links-footer" href="/">Accueil</a>

                        <a class="links-footer" href="/annonces">Annonces</a>

                        <a class="links-footer" href="/add-post">Ajouter une annonce</a>

                        <a class="links-footer" href="/contact">Contactez-nous</a>

                        <a class="links-footer" href="/partenaires">Nos partenaires</a>

                        <a class="links-footer" href="/tuto">Tutoriels</a>
                    </nav>

                </div>

            </div>

        </div>

        <!--Deuxieme bloc-->
        <div id="dx-bloc">

            <div class="row text-center dsp-flx">

                <!--Mentions légales-->
                <div class="col-sm m-2">

                    <a class="links-footer link-dx-bloc" href="">Mentions légales</a>
                    |
                    <a class="links-footer link-dx-bloc" href="">Conditions d'utilisations</a>

                </div>

                <!--Liens externes (réseaux sociaux)-->
                <div class="col-sm m-2">

                    <a class=" links-footerlink-dx-bloc" href="https://www.facebook.com/lostdoganimauxducaillou" alt="Page Facebook de Lost Dog">
                        <i class="fab fa-facebook-square" id="icon-rs"></i>
                    </a>

                    <!--
                    <a href="https://www.facebook.com/groups/978594255954364/ " alt="Page Facebook du Groupe de Lost Dog">
                        <i class="fab fa-facebook"></i>
                    </a>
                    -->
                </div>

                <!---->
                <div class="col-sm m-2">

                    <span>
                        Design by DevWeb promo 2020
                    </span>

                </div>

            </div>

        </div>

</footer>
