{% block css %}
<style>

</style>
{% endblock %}
<header class="header">
    <nav class="navbar navbar-expand-lg bg-navbar navbar-color">
        <img src="/images/logo-lostdog.png" class="img-fluid logo-navbar" alt="Image du logo">
        <div class="mx-auto text-center">
          <div class="collapse navbar-collapse entrypoint" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item liste">
                <a class="nav-link link-color" href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-color" href="#">Annonces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-color" href="#">Tuto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-color" href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div>
            <button type="button" class="btn btn-primary">Ajouter une annonce</button>
          </div>
        </div>
        <a class="appli-mobile" href="https://play.google.com/store/apps/details?id=com.pacifiscreen.lostdog&hl=fr&gl=US">
          <i class="fas fa-mobile-alt"></i>
          <p>App android</p>
        </a>
    </nav>
</header>
