<header class="leheader">
  <div class="info-navbar">
    <span>  Suivez nous sur Facebook :&nbsp</span>
    <a class="infos" href="https://www.facebook.com/lostdoganimauxducaillou"><i class="fab fa-facebook"></i></a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <img src="/images/logo-navbar.png" class="img-fluid logo-navbar" alt="Logo de LostDog">
    <div class="mobile-navbar">
      <div>
        <span class="logo-mobile">LostDog</span>
      </div>
      <div class="menu-deroulant">
        <a class="navbar-toggler" data-toggle="collapse" data-target="#yossicaillou" aria-controls="yossicaillou" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars bouton-mobile"></i>
        </a>
      </div>
    </div>

  
    <div class="collapse navbar-collapse menu-navbar" id="yossicaillou">
      <ul class="navbar-nav ml-auto maliste">
        <li class="nav-item active">
          <a class="nav-link entrypoints" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="/annonces">Annonces</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle entrypoints" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Conseils
          </a>
          <div class="dropdown-menu deroulant" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item entrypoints2" href="/conseils">Infos utiles</a>
            <a class="dropdown-item entrypoints2" href="/tutoriel">Tuto app android</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="/partenaires">Nos partenaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="/monde-animal">Monde Animal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="/jeux">Jeux</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link entrypoints" href="/partenaires">Nos partenaires</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link add-annonce-nav" href="/annonce"><i class="fas fa-plus-circle"></i> annonce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link entrypoints" href="https://play.google.com/store/apps/details?id=com.pacifiscreen.lostdog&hl=fr&gl=US"><i class="fas fa-mobile-alt"></i> app android</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
