{% block css %}
<style>

</style>
{% endblock %}
<header class="header">
    <nav class="bg-navbar">
        <div class="logo-navbar">
          <img src="/images/logo-lostdog.png" class="img-fluid image-logo" alt="Image du logo">
          <p class="logo-name">LostDog</p>
        </div>
        </div>  
        <div class="mx-auto text-center">
          <div class="entrypoint">
            <ul class="liste">
              <li class="element-nav">
                <a class="link-color" href="/">Accueil</a>
              </li>
              <li class="element-nav">
                <a class="link-color" href="/annonces">Annonces</a>
              </li>
              <li class="element-nav">
                <a class="link-color" href="/tuto">Tuto</a>
              </li>
              <li class="element-nav">
                <a class="link-color" href="/contact">Contact</a>
              </li>
              <li class="element-nav">
                <a class="link-part" href=""><i class="fas fa-plus-circle"></i>annonce</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="appli-mobile nav-link" href="https://play.google.com/store/apps/details?id=com.pacifiscreen.lostdog&hl=fr&gl=US">
          <i class="fas fa-mobile-alt logo-mobile"></i>
          <p>App android</p>
        </a>
    </nav>
    <div class="box-btn">
      <button type="button" class="btn-navbar">
        <i class="fas fa-plus-circle"></i>
        annonce
      </button>
    </div>
</header>
