{% extends "layouts/base.html" %}

{% block content %}
<main>
  <!-- Affichage des cartes -->
  <div class="container" id="container_cards">
    <div class="row">
      {% for ad in ads %}
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ ad.title }}</h5>
              <p class="card-text">{{ ad.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- Modale -->
</main>
{% endblock %}

{% block js %}
{% endblock %}