{% extends "layouts/base.html" %}
{% block meta %}
<meta name=" description" content=" Description de la page">
<meta name=" robots" content=" index, follow">
{% endblock %}

{% block css %}
<style>
  body {
    background-color: white;
  }

  .text-color {
    color: #f5e400;
  }

  .img-ajust {
    padding: 1em;
    border-radius: 40px;
  }

  .padd-left {
    padding-left: 10%;
  }

  .boite-important{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 4% 0 4% 0;
  }

  .contacts{
    display: flex;
    width: 33.3333%;
    flex-flow: column;
    margin: 0 0 2% 0;
  }

  .title-important{
    text-align: center;
  }

  .meslistes{
    list-style-type: none;
  }
</style>
{% endblock %}


{% block content %}
<main>
  <div class="container">
    {% include "layouts/breadcrumb.html" %}
    <h1 class="titres text-center m-4 font-title size-h1">Infos utiles</h1>
    <div>
      <div class="col">
        <h4 class="titres text-center mb-4 font-title text-color">UN ANIMAL PERDU ?</h4>
        <ul class="font-default list text-center">
          <li>Préparer les informations sur votre animal (photo, couleur, collier, n° tatouage, lieux de disparition,
            signes particuliers, etc.)</li>
          <li>Utiliser l'application LOSTDOG (sur mobile), dans la catégorie perdus/trouvés </li>
          <li>Prévenir la fourrière et le refuge SPANC</li>
          <li>Faire une déclaration de perte aupès de la gendarmerie ou de la police</li>
          <li>Prévenir les vétérinaires des environs</li>
          <li>Distribuer des affiches, appeler les radios et prendre contact avec un maximum de communautés Facebook
          </li>
        </ul>
      </div>
    </div>

    <div class="card mt-5">
      <div class="row no-gutters">
        <div class="col-md-12 col-lg-6">
          <img src="images/petit_chien.jpg" class="card-img img-fluid img-ajust" alt="chien dans un carton">
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card-body">
            <h5 class="card-title text-center m-4 font-title text-color">Conseil pour retrouver un chien</h5>
            <p class="card-text">
              <ul class="list font-default">
                <li>Faites un tour du quartier en sifflant dans le quartier</li>
                <li>Déposez un vêtement qui vous appartient au dernier endroit où il a été vu</li>
                <li>Laissez uniquement un bol d'eau à proximité. Pas de nourriture pour éviter d'attirer d'autres
                  animaux</li>
                <li>Demandez à vos voisins d'être vigilants</li>
                <li>Revenez régulièrement là où il a été vu en dernier, et appelez-le régulièrement</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card-body">
            <h5 class="card-title text-center m-4 font-title text-color">Conseil pour retrouver un chat</h5>
            <p class="card-text">
              <ul class="list font-default">
                <li>Le chat est souvent plus plès que l'on ne pense. Si votre animal n'est pas stérilisé, il a tendance
                  à
                  beaucoup plus s'éloigner !</li>
                <li>Essayez de l'appeler régulièrement lors de moment calme, soit tôt le matin ou tard le soir.</li>
                <li>Munissez_vous d'une lampe torche, cela vous permettra de voir ses yeux qui brillent dans le noir
                </li>
                <li>Secouez les croquettes, car entre l'odeur et le bruit familier, cela peut l'inciter à sortir de sa
                  cachette.</li>
                <li>Cherchez dans tous les recins possibles, un chat peut se faufiler partour, notamment s'il est blessé
                  ou
                  effrayé</li>
                <li>Demandez à vos voisins de regarder chez eux.</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <img src="images/petit_chat.jpg" class="card-img img-fluid img-ajust" alt="chat gris avec des tâches">
        </div>
      </div>
    </div>

    <h4 class="titres text-center font-title text-color mt-5">CONTACT IMPORTANT</h4>

    <div class="boite-important">
      <div class="contacts">
        <h6 class="title-important">FOURRIERE</h6>
        <ul class="meslistes">
          <li>Téléphone : 26.86.66</li>
          <li>Adresse : 16 rue Raymonde JORE - DUCOS</li>
          <li>LUNDI - JEUDI : 8h00 à 15h30 en continu</li>
          <li>VENDREDI : 8h00 à 12h00</li>
          <li>Photos sur <a href="https://www.sign.nc/" target="_blanck" class="">www.sign.nc</a></li>
          <li>Ou dans LOSTDOG "animaux capturés"</li>
        </ul>
      </div>

      <div class="contacts one">
        <h6 class="title-important">RADIO OCEANE FM</h6>
        <ul class="meslistes">
          <li>Antenne : 36.70.71
          <li>Standard : 41.00.95</li>
        </ul>
      </div>

      <div class="contact two">
        <h6 class="title-important">RADIO NC 1ère</h6>
        <ul class="meslistes">
          <li>Téléphone :25.82.58</li>
        </ul>
      </div>

      <div class="contacts one">
        <h6 class="title-important">LA BANDE A NOUNOUS </h6>
        <ul class="meslistes">
          <li>Téléphone : 79.41.30</li>
          <li>Email : spanc-nc@hotmail.nc</li>
        </ul>
      </div>

      <div class="contacts two">
        <h6 class="title-important">AAAC </h6>
        <ul class="meslistes">
          <li>Téléphone : 47.12.66</li>
          <li>Email : aaac.caledo@gmail.com</li>
          <li>site : <a href="http://www.aaac-nouvelle-caledonie.net" target="_blanck" class="">http://www.aaac-nouvelle-caledonie.net</a></li>
        </ul>
      </div>

      <div class="contacts one">
        <h6 class="title-important">BIEN NAÎTRE ANIMAL</h6>
        <ul class="meslistes">
          <li>Téléphone : 50.08.03</li>
          <li>Email : bna.animal0nc@gmail.com</li>
        </ul>
      </div>

      <div class="contacts two">
        <h6 class="title-important">CHATS DE NC</h6>
        <ul class="meslistes">
          <li>Téléphone : 91.97.60</li>
          <li>Email: chatdenc@gmail.com</li>
        </ul>
      </div>

      <div class="contacts one">
        <h6 class="title-important">REFUGE ANIMALIER NC</h6>
        <ul class="meslistes">
          <li>Téléphone : 78.75.20</li>
          <li>Email: ranc@lagoon.nc</li>
        </ul>
      </div>

      <div class="contacts two">
        <h6 class="title-important">SOS ANIMAUX</h6>
        <ul class="meslistes">
          <li>Téléphone : 76.02.08</li>
          <li>Email: sosanimauxnc@hotmail.fr</li>
        </ul>
      </div>

      <div class="contacts one">
        <h6 class="title-important">ANIMAL ACTION </h6>
        <ul class="meslistes">
          <li>Email: animal.action.nc@gmail.com</li>
        </ul>
      </div>
    </div>



  </div>
</main>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

{% endblock %}
