{% extends "layouts/base.html" %}
{% block meta %}
<meta name=" description" content=" Description de la page">
<meta name=" robots" content=" index, follow">
{% endblock %}
{% block css %}
<style>

  .title-contact {
    background-image: url(/images/friends-1149841_1280.jpg);
    background-size: cover;
    background-position-y: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
    width: 80%;
    border-radius: 10px 10px 0px 0px;
    padding: 4% 0% 4% 0%;
    font-family: 'Francois One', sans-serif;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    line-height: 0%;
  }

  .montitrecontact {
    font-size: 1em;
  }

  .phone-mail{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    width: 80%;
    display: flex;
    flex-flow: row;
    padding: 1% 0 1% 0;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 3%;
  }
  
  .part{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
  }

  .link-contact{
    color: #FFFFFF;
    text-decoration: none;
  }

  .link-contact:hover{
    color: #F5E400;
  }

  .formulaire-contact{
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

</style>
{% endblock %}
{% block content %}
<main class="main_form_contact">

  <div class="title-contact">
    <i class="fas fa-address-card"></i>
    &nbsp;
    <h2 class="montitrecontact">Nous contacter ! </h2>
  </div>



  <!--  Information num tel, mail de lostDog -->
  <div class="phone-mail">
    <div class="part">
      <a class="link-contact" href="tel:+687508371"><i class="fas fa-phone-alt"></i> 75-50-71</a>
    </div>
    <div class="part">
      <a class="link-contact" href="mailto:lostdog.nc@gmx.com"><i class="fas fa-envelope"></i> lostdog.nc@gmx.com</a>
    </div>
  </div>



  <!-- Formulaire message -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="formulaire-contact">
        <div class="div_titre">
          <h2 class="titre_form_contact">Contactez-nous par message</h2>
        </div>
        <br>
        <form class="div_form_contact">
          <div class="form-group row justify-content-center">
            <div class="div_label_message">
              <label for="inputMessage">Message:</label>
            </div>
            <div class="justify-content-center">
              <textarea rows="5" cols="60" class="invalid champ_text" type="text" id="inputMessage" required></textarea>
            </div>
          </div>
          <!-- Bouton qui ouvre la modale de confirmation -->
          <button type="submit" class="btn btn-primary float-right" id="btnSend">
            Envoyer
          </button>
          <br>
          {{ captcha | safe }}
        </form>



        <!-- Modale qui confirme que le message a bien été envoyé -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation d'envoi du message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Félicitation votre message a bien été envoyé!!</p>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  // reCapatcha Google
  function resRecaptcha(token) {
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'g-recaptcha-response');
        input.setAttribute('value', token);
        document.getElementsByTagName('form')[0].appendChild(input);
    }

  // Envoi du données rentrées en champs 
  $('form').submit(function (event) {
    event.preventDefault();
    $message = $('#inputMessage').val();
    $.post('/contact', {
        message: $message
      }, function (data) {
        console.log('Votre message a bien été envoyé');
        $('#exampleModal').modal();
      },
      'json');
    $('form')[0].reset();
  })
</script>
{% endblock %}