{% extends "layouts/base.html" %}
{% block meta %}
<meta name=" description" content=" Description de la page">
<meta name=" robots" content=" index, follow">
{% endblock %}

{% block css %}
<style>
    .aligneVertical {
        align-self: center;
    }

    .preview {
        max-width: 195px;
        max-height: 195px;
        display: block;
    }

    .btn-sendPic {
        width: 100%;

        /* FIX */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-sendPic:hover+.tooltip-file-path {
        opacity: 1;
    }

    .tooltip-file-path {
        position: absolute;
        opacity: 0;

        white-space: nowrap;

        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        transition: opacity .3s ease-in-out;
    }

    .relative-position {
        position: relative;
    }

    .hide-overflow {
        overflow: hidden;
    }

    .border-bottomUnique {
        border-bottom-color: #F5E400 !important;
    }

    .itemCenter {
        align-items: center;
    }

    .borderUniqueappPost {
        border: 1.5px dotted #F5E400;
    }

    .small {
        font-size: 70%;
    }

    @media only screen and (max-width: 991px) {
        .textAligneLeft {
            text-align: left !important;
        }
    }

    @media only screen and (max-width: 695px) {
        .preview {
            max-width: 160px;
            max-height: 160px;
            display: block;
        }
    }

    @media only screen and (max-width: 515px) {
        .preview {
            max-width: 120px;
            max-height: 120px;
            display: block;
        }
    }

    /* #F5E400 couleur logo */
</style>
{% endblock %}

{% block content %}


<main>
    {% include "layouts/breadcrumb.html" %}

    <form class="container " action="post">
        <div class=" row">
            <div class="col-lg-12">
                <div class="row mt-4 hide-overflow">
                    <div class="container">
                        <h2 class="text-center text-capitalize border-2 border-bottom border-secondary pb-4 font-title">
                            ajouter une annonce</h2>
                    </div>
                    <div class="container mt-4">
                        <p class="text-muted font-default">N'hésitai pas à donner le plus possible d'informations
                            concernant l'animal
                        </p>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <legend class="border-bottom border-bottomUnique mb-3  font-default">Informations
                            de l'animal
                        </legend>
                        <!-- Type de animal -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 text-right textAligneLeft">
                                    <label for="ftype-animal" class="font-default ">Animal</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control mb-3" id="ftype-animal">
                                        <option value="" class="font-default">--Choisi ton option--</option>
                                        <option value="dog" class="font-default">Chien</option>
                                        <option value="cat" class="font-default">Chat</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- situation de animal -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 text-right textAligneLeft">
                                    <label for="fsituation-animal" class="font-default ">Situation</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control mb-3 fsituation-animal" required name="ddselect"
                                        id="select_designatfirst">
                                        <option value="0" id="choiceNull" class="font-default">--Choisi ton option--
                                        </option>
                                        <option value="1" class=" font-default">Perdu</option>
                                        <option value="2" class=" font-default">Trouver</option>
                                        <option value="3" class=" font-default">Adopter</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 aligneVertical">
                        <div class="container h-75">
                            <div class=" text-center">
                                <div class="relative-position">
                                    <div class="btn btn-primary btn-sendPic">
                                        <span class="text-capitalize font-default" id="file">Ajouter une photo</span>
                                    </div>
                                    <div class="tooltip-file-path"></div>
                                    <div class="container">
                                        <input type="file" class="border border-dark border-1  w-100 upload"
                                            data-preview=".preview" id="fimage-animal" accept=".jpg, .jpeg, .png">

                                    </div>
                                    <small class="font-default">700ko max</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 aligneVertical">
                        <img class="preview m-auto borderUniqueappPost" src="images/icon-picture.jpg"
                            alt="cette image représente une image que l'utilisateur importera" />
                    </div>
                </div>
            </div>
        </div>
        <legend class="border-bottom border-bottomUnique mb-3  font-default">Informations supplémentaire
        </legend>
        <div class="col-lg-12 mb-4">
            <div class="form-group">
                <label for="fcomentaire" class="font-default text-capitalize">description</label>
                <textarea class="form-control mb-4 description" name="story" rows="5" cols="33" id="empSearch" required
                    placeholder="Choisisez la situation de votre poste"></textarea>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="custom-control custom-checkbox mb-2 d-flex itemCenter">
                                        <input type="checkbox" class="custom-control-input" id="defaultChecked2">
                                        <label class="custom-control-label" for="defaultChecked2" id="urgentDog "><small
                                                class="ml-2 font-default small">Urgent! Cet animal
                                                risque d'être
                                                euthanasié</small>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <input class="btn btn-primary mb-3" type="submit" value="Envoyer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        {{ captcha | safe }}
    </form>
</main>
{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    // placeholder tcheck choiceNull
    var select_designatfirst = $('#select_designatfirst'),
        empSearch = $('#empSearch');
    let choiceNull = document.getElementById('choiceNull');

    select_designatfirst.on('change', function () {
        if (choiceNull.selected == true) {
            console.log("salut");
            empSearch.attr('placeholder',
                'Choisisez la situation de votre poste');
        } else {
            empSearch.attr('placeholder',
                'Veuillez renseigner un moyen de vous contacter ainsi que toutes informations pouvant nous aider sur le contexte de la situation: ' +
                select_designatfirst.find(':selected').text());
        }
    });

    // Calcule de la taile de l'image 
    $(document).on("change", ".upload", function () {
        files = this.files;
        size = files[0].size;
        //max size 50kb => 50*1000 1000141
        //500ko = 500070.5
        //700ko = 700100.5
        if (size > 700101) {
            alert("Veuillez téléverser moins de 1 700 ko de fichier");
            return false;
        }
        return true;
    });
    // reCapatcha Google
    function resRecaptcha(token) {
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'g-recaptcha-response');
        input.setAttribute('value', token);
        document.getElementsByTagName('form')[0].appendChild(input);
    }

    // Envoi des données aux Back-End
    $('form').submit(function (event) {
        event.preventDefault();
        $description = $('.description').val();
        $img = $('#fimage-animal').get(0).files;
        $image = $img[0].name;

        $('form').submit(function (event) {
            event.preventDefault();
            $.post('/annonce', {
                    description: $description,
                    image: $image
                }, function (data) {
                    // alert('Votre publication a bien été ajoutée');
                    console.log(data);
                },
                'json');
        })
    })
    // Animal type
    $("#ftype-animal")
        .on("mouseenter", function () {
            $(this).css({
                "background-color": "seashell",
                "font-weight": "bolder",
                "border-bottom": "2px solid #F5E400"
            });
        })
        .on("mouseleave", function () {
            var styles = {
                backgroundColor: "",
                fontWeight: "",
                borderBottom: ""
            };
            $(this).css(styles);
        });
    // Animal Situation
    $(".fsituation-animal")
        .on("mouseenter", function () {
            $(this).css({
                "background-color": "seashell",
                "font-weight": "bolder",
                "border-bottom": "2px solid #F5E400"
            });
        })
        .on("mouseleave", function () {
            var styles = {
                backgroundColor: "",
                fontWeight: "",
                borderBottom: ""
            };
            $(this).css(styles);
        });
    // Description
    $(".description")
        .on("mouseenter", function () {
            $(this).css({
                "background-color": "seashell",
                "font-weight": "bolder",
                "border-bottom": "2px solid #F5E400"
            });
        })
        .on("mouseleave", function () {
            var styles = {
                backgroundColor: "",
                fontWeight: "",
                borderBottom: ""
            };
            $(this).css(styles);
        });

    // Apercue de upload
    $("input[data-preview]").change(function () {
        var $input = $(this);
        var fileReader = new FileReader();
        fileReader.readAsDataURL(this.files[0]);
        fileReader.onload = function (fileEvent) {
            $($input.data('preview')).attr('src', fileEvent.target.result);
        };
    });

    // style upload
    var wrapper = $('<div />').css({
        height: 0,
        width: 0,
        'overflow': 'hidden'
    });
    var fileInput = $(':file').wrap(wrapper);
    let filePath = "";

    fileInput.change(function () {
        $this = $(this);
        $('#file').text($this.val());

        // TOOLTIP
        filePath = $(this).val();

        // FORMAT STRING
        filePathFormat = filePath.substring(filePath.lastIndexOf("\\") + 1);
        console.log(filePathFormat);

        if (filePathFormat.length > 31) {
            filePathFormat = filePathFormat.substring(filePathFormat.length - 31);
            console.log("formated again = " + filePathFormat);
        }

        document.getElementsByClassName("tooltip-file-path")[0].innerHTML = filePathFormat;
    });

    $('#file').click(function () {
        fileInput.click();
    }).show();
</script>
{% endblock %}