{% extends "layouts/base.html" %}

{% block content %}
<main>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Primary</button>
  <button type="button" class="btn btn-info">Secondary</button>

  <i class="fab fa-usps"></i>

  <h1 style="font-family: 'Francois One', sans-serif;">Bienvenue sur LostDog</h1>

  <p style="font-family: 'Noto Sans JP', sans-serif;">Saepissime igitur mihi de amicitia cogitanti maxime illud considerandum videri solet, utrum propter imbecillitatem atque inopiam desiderata sit amicitia, ut dandis recipiendisque meritis quod quisque minus per se ipse posset, id acciperet ab alio vicissimque redderet, an esset hoc quidem proprium amicitiae, sed antiquior et pulchrior et magis a natura ipsa profecta alia causa. Amor enim, ex quo amicitia nominata est, princeps est ad benevolentiam coniungendam. Nam utilitates quidem etiam ab iis percipiuntur saepe qui simulatione amicitiae coluntur et observantur temporis causa, in amicitia autem nihil fictum est, nihil simulatum et, quidquid est, id est verum et voluntarium.</p>

  <button type="button" class="btn btn-secondary" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
  {% block js %}
  <script>
    $(function () {
      $('.example-popover').popover({
        container: 'body'
      })
    })
  </script>

  {% endblock %}
</main>
{% endblock %}
