{% extends "layouts/base.html" %}
{% block meta %}
<meta name=" description" content=" Description de la page">
<meta name=" robots" content=" index, follow">
<meta name="author" content="LostDog">
{% endblock %}
{% block css %}
<style>

/* Toute la page */

  .bg-sections-home {
    background-color: #f7f7f7;
  }

  .texte-titre {
    color: rgb(0, 0, 0);
  }

  .images-chat-noir {
    height: 8vh;
  }

/* Section bienvenue */

  .bg-img {
    background-image: url(/images/dogs.jpg);
    /*Blue photo created by serhii_bobyk - www.freepik.com; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 385px;
    background-position-x: center;
    background-position-y: center;
  }

/* Section boutons filtres */

#section-btn-fltrs .card {
  border: none;
}

.links-situations{
  text-decoration: none;
}

.icons-situations {
  font-size: 5vh;
}

.cards-btnsituations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

#card-perdus, #card-trouves, #card-adoption{
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 5px;
}

#card-perdus:hover {
  background-color: rgba(209, 37, 23, 0.4);
}

#card-trouves:hover {
  background-color: rgba(114, 194, 23, 0.4);
}

#card-adoption:hover {
  background-color: rgba(0, 168, 232, 0.4);
}

/* Section dernieres annonces */


#link-consultAdds {
  color: black;
  text-decoration: none;
}

#link-consultAdds:hover {
  color: black;
  text-decoration: underline 3px #F5E400;
  font-weight: bolder;
}

@media (max-width: 576px) {
  #png-chat-lPosts {
    display: none;
  }
}

/* Section Nos partenaires */


    @media (max-width: 768px) {
      .box-partenaire:last-child {
        margin: auto !important;
      }
    }

/* Section ? */

</style>
{% endblock %}

{% block content %}
<main>

  <!--Section bienvenue-->
  <section class="container my-5 font-default">
    <div>

      <div class="bg-img img-fluid"></div>

    </div>

    <div>

      <h1 class="font-title text-center texte-titre size-h1">Bienvenue sur LostDog</h1>
      <h3 class="text-center texte-titre size-h3">Vous avez perdu un animal ? Retrouvez le grâce à LostDog !</h3>

    </div>

  </section>

  <!--Section Boutons filtres-->
  <section class="container my-5" id="section-btn-fltrs">

    <div class="row">

      <div class="card col-sm">
        <div class="card-body text-center cards-btnsituations">

          <a class="links-situations" id="card-perdus" href="/annonces?adType=PERDU">

            <i class="far fa-frown color-perdus icons-situations"></i>

            <h3 class="font-title size-h3 color-perdus">Perdus</h3>

          </a>

        </div>
      </div>

      <div class="card col-sm">
        <div class="card-body text-center cards-btnsituations">

          <a class="links-situations" id="card-trouves" href="/annonces?adType=TROUVE">

            <i class="far fa-grin-beam color-trouves icons-situations"></i>

            <h3 class="font-title size-h3 color-trouves">Trouvés</h3>

          </a>

        </div>
      </div>

      <div class="card col-sm">
        <div class="card-body text-center cards-btnsituations">

          <a class="links-situations" id="card-adoption" href="/annonces?adType=ADOPTION">

            <i class="far fa-grin-stars color-adoption icons-situations"></i>

            <h3 class="font-title size-h3 color-adoption">À l'adoption</h3>

          </a>

        </div>
      </div>

    </div>

  </section>

  <!--Section Dernieres annonces-->
  <section class="container my-5 font-default bg-sections-home">

    <div class="row">

      <h2 class="font-title size-h2 text-center">
        <img id="png-chat-lPosts" class="images-chat-noir" src="/images/chat-patte-leve.png">
        Les dernières annonces
      </h2>

    </div>

    <div class="row d-flex justify-content-center">

      {% for ad in ads %}
        {% include "./layouts/ad.html" %}
      {% endfor %}

    </div>

    <div class="row">
      <a class="text-center size-p my-4" id="link-consultAdds" href="/annonces">Consulter toutes les annonces</a>
    </div>
  </section>

  <!--Section du carousel de Nos partenaires-->
  <section class="container my-5 font-default">
    <!-- Ligne du titre -->
    <div class="row text-center">

      <h2 class="font-title size-h2">
        Nos partenaires
        <img class="images-chat-noir mb-3" src="/images/chat-assis.png">
      </h2>

    </div>
    <!-- Ligne contenant le carousel -->
    <div class="row">
      <!-- Div du carousel -->
      <div class="container my-3">
        <div class="row mx-auto my-auto">
            {% for homepartener in homeparteners %}
              <div class="box-partenaire col-12 col-md-6 col-lg-4 mb-3">
                <a href="{{ homepartener.LienWeb }}">
                  <div class="card card-body">
                    <img class="img-partener" src="http://139.99.135.47/partenaires-MondeAnimal/{{ homepartener.IDPartenaires }}.jpg">
                  </div>
                </a>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>

  </section>

  <!--Section ?-->
  <section>
  </section>


</main>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script type="text/javascript">
  $('.carousel .carousel-item').each(function () {
    var minPerSlide = 3;
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i = 0; i < minPerSlide; i++) {
      next = next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }

      next.children(':first-child').clone().appendTo($(this));
    }
  });
</script>
{% endblock %}