{% extends "layouts/base.html" %}

{% block css %}
<style>

.test-bg {
  background-color: #9dd45d;
}

.bg-img { 

  
  background-image:url(images/hey.jpg);
  height:400px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position-x: center;
}

.texte-titre {
  color:white;
  padding-top:3em;
  vertical-align: middle;

}



</style>
{% endblock %}

{% block content %}
<main>
  <section class="container">
    <!--Section bienvenue-->
    <div class="bg-img img-fluid" >

        <h1 class="font-title text-center texte-titre size-h1">Bienvenue sur LostDog</h1>
        
    </div>  

  </section>

  <!--Section Dernieres annonces-->
  <section class="container my-4 font-default">

    <div class="row my-4">

      <h2 class="font-title size-h2 text-center">Les dernières annonces</h2>

    </div>

    <div class="row my-4">
      
        <div class="col-sm card">
          <!-- Annonce 1-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 2-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 3-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 4-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

    </div>

    <div class="row">
      <a href="/annonces">Consulter toutes les annonces</a>
    </div>
  </section>

  <!--Section ?-->
  <section class="container my-4 font-default">

  </section>
</main>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
