{% extends "layouts/base.html" %}

{% block css %}
<style>

.test-bg {
  background-color: #9dd45d;
}

.bg-img { 
  background-image:url(/images/dogs.jpg);
  /*Blue photo created by serhii_bobyk - www.freepik.com; */
  background-size: contain;
  background-repeat: no-repeat; 
  height: 385px;
  background-position-x: center;
  background-position-y: center;
}

.texte-titre {
  color:rgb(0, 0, 0);
}

.logos-partenaires {
  width: 10vw;
}


</style>
{% endblock %}

{% block content %}
<main>
  <!--Section bienvenue-->
  <section>
    <div cass="container">

      <div class="bg-img img-fluid"></div>

    </div>  

    <div>

      <h1 class="font-title text-center texte-titre size-h1">Bienvenue sur LostDog</h1>
    
    </div>

  </section>

  <!--Section Dernieres annonces-->
  <section class="container my-4 font-default">

    <div class="row my-4">

      <h2 class="font-title size-h2 text-center">Les dernières annonces</h2>

    </div>

    <div class="row my-4">
      
        <div class="col-sm card">
          <!-- Annonce 1-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 2-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 3-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

        <div class="col-sm card">
          <!-- Annonce 4-->
          <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p class="card-text">{{ ad.description }}</p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>

    </div>

    <div class="row">
      <a href="/annonces">Consulter toutes les annonces</a>
    </div>
  </section>

  <!--Section Nos partenaires-->
  <section class="container my-4 font-default">

    <h2 class="font-title size-h2 text-center m-4">Nos partenaires</h2>

    <div class="row">

      <div class="col-sm m-2">

        <a href="http://www.elagage-evolution.sitew.com/">

          <img class="logos-partenaires" src="images/logo_elagage_evolution.png" alt="Élevage évolution">

        </a>

      </div>

      <div class="col-sm m-2">

        <a href="https://www.facebook.com/DogMe.nc/?pageid=188484478543433&ftentidentifier=627305311328012&padding=0">

          <img class="logos-partenaires" src="images/logo_dogMe.png" alt="DogMe">

        </a>

      </div>

      <div class="col-sm m-2">

        <a href="https://croqadom.nc/fr/">

          <img class="logos-partenaires" src="images/logo_croqADom.png" alt="Crop à Dom">

        </a>

      </div>

      <div class="col-sm m-2">

        <a href="https://www.helloasso.com/associations/bien-naitre-animal">

          <img class="logos-partenaires" src="images/logo_bien_naitre_animal.png" alt="Bien Naître Animal">

        </a>

      </div>

      <div class="col-sm m-2">

        <a href="https://www.chat-perdu.org/fr-nc/">

          <img class="logos-partenaires" src="images/logo_ouEstLeChat.png" alt="Chat perdu">

        </a>

      </div>

      <div class="col-sm m-2">

        <a href="https://www.clicanimaux.com/association-447-la-bande-a-nounou">

          <img class="logos-partenaires" src="images/logo_la_bande_a_nounou.png" alt="La bande à Nounou"> 

        </a>

      </div>

    </div>

  </section>
</main>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
