{% extends "layouts/base.html" %}

{% block css %}
<style>
  .container_mentions {
    padding-top: 30px;
  }

  .div_title {
    text-align: center;
  }

  .container_div_paragraphe {
    margin: auto;
    text-align: justify;
  }

  .div_paragraphe {
    padding-top: 30px;
  }

  .paragraphe {
    padding-top: 10px;
  }
</style>
{% endblock %}

{% block content %}
<main>

  <div class="container_mentions container">
    <div class="div_title">
      <h3 class="size-h3" id="mentions">Mentions Légales</h3>
    </div>
    <div class="container_div_paragraphe align-items-center col-10">
      <div class="div_paragraphe">
        <h4 class="">Mentions légales du site Lost Dog</h4>
        <p class="paragraphe">
          Le texte qui suit présente les conditions générales d’utilisation du site Lost Dog. Tout
          visiteur du site admeten avoir prisconnaissance et les accepter. Elles ne le déchargent pas des obligations
          qu'il
          contracte en accédant par un lien à une page ou un site Internet tiers. Les internautes sont responsables des
          interrogations
          qu’ils formulent ainsi que de l’interprétation et de l’utilisation qu’ils font des résultats.
          <br><br>
          Lost Dog se réserve le droit de modifier à tout moment les présentes, notamment en faisant évoluer son site.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Éditeur</h4>
        <p class="paragraphe">
          Ce site est édité par la Chambre de commerce et d’industrie de Nouvelle-Calédonie.
          15, rue de Verdun - BP M3 - 98849 Nouméa cedex <br>

          Établissement public à caractère administratif <br>
          N° RIDET : 0 115 576.001 <br>

          Réalisation : Promotion 2020-2022 développeur Web, Web mobile -CCI Nouvelle Calédonie <br> <br>

          Pour toute remarque, question ou suggestion : <br>
          cci@cci.nc - Tél (687) 24 31 00 <br>
          Directeur de la publication : David Guyenne, Président de CCI-NC <br>
          Comité de rédaction : Direction de la communication. <br>
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Objet</h4>
        <p class="paragraphe">
          Le site www.LostDog.nc a pour objet de renseigner les personnes sur les animaux perdus de Nouvelle-Calédonie.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 id="propriete-intellectuelle">Propriété intellectuelle</h4>
        <p class="paragraphe">
          Vous disposez d'un droit d'usage privé, personnel, non collectif et non exclusif, sur le contenu du site. On
          entend par
          contenu, en ce y compris mais non limitativement, les textes, sons, images, vidéos, animations. Sous réserve
          des exceptions
          au droit d'auteur prévues par l'article L122-5 du Code de la propriété intellectuelle, tout autre usage du
          contenu est
          soumis à autorisation préalable et expresse de Lost Dog, notamment dans le cas où l'utilisateur envisagerait
          de rediffuser
          le contenu sur un autre site. La violation de ces dispositions impératives soumet le contrevenant, et toutes
          personnes
          responsables, aux peines pénales et civiles prévues par la loi.
          <br><br>
          Pour toute demande d’autorisation, vous pouvez prendre contact avec Lost Dog.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Liens</h4>
        <p class="paragraphe">
          Les liens présents sur le site www.LostDog.nc peuvent orienter l'utilisateur sur des sites extérieurs dont le
          contenu ne peut
          en aucune manière engager la responsabilité de Lost Dog. Les textes mis en ligne sur le site www.LostDog.nc,
          sauf
          mentions
          particulières, sont la propriété intellectuelle de Lost Dog. Le droit d'usage permet l'impression des
          documents à l'écran
          pour un usage strictement privé et doit mentionner la provenance desdits documents.
          <br><br>
          Si vous désirez créer un lien hyper texte entre votre site et le nôtre, nous vous demandons :
          <br><br>
          de nous avertir par email lostdog.nc@gmx.com.
          Ressources Internet : tout lien avec ce site est soumis à une autorisation préalable de Lost Dog.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Contenu du site</h4>
        <p class="paragraphe">
          On entend par contenu du site la structure générale, les textes, les images animées ou non, et les sons dont
          le site est
          composé.
          <br><br>
          Le site www.LostDog.nc a pour vocation de proposer aux internautes des contenus et des services à valeur
          ajoutée.
          Ces contenus ou services sont produits par Lost Dog.
          <br><br>
          Lost Dog se réserve le droit de modifier ou de corriger le contenu de ce site à tout moment et sans préavis.
          Elle ne confère
          aux utilisateurs internautes aucune garantie explicite ou implicite, en ce qui concerne l'exactitude,
          l'exhaustivité ou la mise à
          jour des informations contenues dans le présent site, ou accessibles depuis ce site. En conséquence, il
          appartient aux utilisateurs
          de vérifier leurs informations en les recoupant avec toute autre source disponible. Lost Dog ne garantit en
          aucun cas l'adéquation
          des informations avec les besoins de l'internaute, par conséquent Lost Dog ne saurait supporter aucune
          demande de dédommagement
          pour préjudice direct ou indirect subi par l'internaute à la suite de la consultation et l'utilisation des
          informations obtenues
          au moyen du service de Lost Dog.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Protection des données à caractère personnel</h4>
        <p class="paragraphe">
          Conformément aux dispositions légales et réglementaires en vigueur et notamment la loi n° 2004-575 du 21 juin
          2004 pour la
          confiance dans l’économie numérique et le décret n°2011-219 du 25 février 2011 relatif à la conservation et à
          la communication des données, dans leur version applicable en Nouvelle-Calédonie, Lost Dog a l'obligation
          de collecter et stocker les données de communication électronique relatives au trafic. À cette fin, Lost Dog
          pourra être
          amenée à communiquer ces données aux fins de recherche, de constatation et de poursuite
          des infractions pénales, aux fins de prévention de toute activité de nature terroriste, aux fins de
          facturation et de paiement du Service, aux fins de sécurité des réseaux et des installations.
          <br><br>
          Conformément à la réglementation en vigueur applicable au traitement des données à caractère personnel :
          <br><br>
          Lost Dog est identifiée comme responsable de traitement.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Cookies</h4>
        <p class="paragraphe">
          Lors de la consultation de notre site, des cookies sont déposés sur votre terminal de connexion (ordinateur,
          tablette,
          smartphone) afin de mesurer la fréquentation du site et améliorer votre expérience utilisateur.
        </p>
        <br>
        <h5>Qu’est-ce qu’un « cookie » ?</h5>
        <p>
          Un "cookie" est une suite d'informations, généralement de petite taille et identifié par un nom, qui peut être
          transmis
          à votre navigateur par un site web sur lequel vous vous connectez. Ils sont gérés par votre navigateur et
          permettent
          de conserver des données utilisateur pendant une certaine durée. Les cookies donnent simplement une
          information sur
          votre navigation de façon à ce que le terminal puisse être reconnu à chaque connexion ultérieure, facilitant
          ainsi votre
          expérience sur notre site internet. Les cookies ne causent aucun dommage au terminal, mais permettent plus
          facilement par
          exemple de retrouver vos préférences, de préremplir certains champs et d’adapter le contenu de nos services.
          Les cookies
          garantissent leur fonctionnement ou améliorent la navigation, et fournissent également certaines informations,
          notamment en
          termes de mesure d’audience. Lost Dog utilise des cookies. Les cookies enregistrés par Google, Facebook et One
          Signal lorsque vous visitez le site internet permettent de
          reconnaître l’appareil utilisé et votre adresse IP. Outre les adresses IP, Lost Dog ne se procurera pas
          d’informations
          permettant de vous identifier nominativement, directement ou indirectement, à moins que vous ne les
          communiquiez
          volontairement en répondant aux différents formulaires.
        </p>
        <h5>Comment accepter ou refuser l’utilisation des cookies ?</h5>
        <p>
          Lors de votre première visite sur le site, un bandeau vous informe de la présence de ces cookies et vous
          invite à indiquer
          votre choix. Ils ne sont déposés que si vous les acceptez.
          <br><br>
          Vous pouvez également à tout moment vous informer et paramétrer vos cookies pour les accepter ou les refuser
          en vous rendant sur la
          page Gestion des cookies. Vous pourrez indiquer votre préférence soit globalement pour le site, soit service
          par service et configurer
          votre appareil pour qu’il accepte tous les cookies, qu’il vous informe lorsqu’un cookie est émis ou qu’il
          n’accepte jamais aucun
          cookie. Cette dernière option signifie que certains services personnalisés ne peuvent être fournis et, en
          conséquence, vous risquez
          de ne pas être en mesure de profiter pleinement de toutes les fonctionnalités offertes par notre site
          internet.
          <br><br>
          Si vous ne souhaitez pas recevoir de cookies de manière générale ou refuser uniquement certains cookies vous
          pouvez modifier les
          paramètres de votre navigateur de manière appropriée.
        </p>
        <h5>Comment Lost Dog utilise-t-elle les cookies ?</h5>
        <p>
          Les informations recueillies à l’aide des cookies aident Lost Dog à identifier les services et rubriques que
          l'utilisateur
          a visités, et plus généralement son comportement en matière de visites. Ils mesurent le nombre de visites, le
          nombre de pages
          vues ainsi que son activité et sa fréquence de retour. Ces informations sont utiles pour faciliter votre
          navigation sur
          notre site et l'adapter à vos besoins. Lost Dog n’a pas l’intention d’utiliser de cookies pour livrer des
          messages
          publicitaires personnalisés.
        </p>
      </div>
      <div class="div_paragraphe">
        <h4 class="">Fonctionnement</h4>
        <p class="paragraphe">
          Pour toute remarque sur le fonctionnement du site, adressez un message dans <a href="/contact">Contact</a> .
        </p>
      </div>
    </div>
  </div>

</main>
{% endblock %}