{% extends "layouts/base.html" %}
{% block css %}
<style>
.author {
    color: black;
}    
.author:hover {
    color: black;
    text-decoration: underline 3px #f5e400;
}

</style>
{% endblock %}



{% block content %}
<main>
    <div class="container text-center">
        <div>
            <div class="title text-center">
                <h3 class="card-title">{{ ad.title }}</h3>
            </div>
            <hr>
            <div class="article d-flex justify-content-center">
                <div class="article_date mr-5 ">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date-fill "
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z" />
                    </svg>
                    <label for="">{{ ad.date }}</label>

                </div>

                <div class="article_comments">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-fill " fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                    </svg>
                    <label for="">{{ ad.comments }} comments</label>
                </div>

                <div class="article_author ml-5">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill " fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    Post by
                    <a href="">{{ ad.author }}</a>
                </div>
            </div>
            <div class="img img-thumbnail w-50 rounded mx-auto d-block">
                <img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
            </div>

            <hr>
            <!-- champs d'input pour les commentaires d'une annonce -->
            <div class="row align-items-start">
                <div class="col-1">
                    <p>COMMENTS</p>
                </div>
                <div class="col">
                    <div id="commentaires" class="input-group mb-3">
                        <input type="text" id="inputCommentaires" class="form-control" placeholder="Votre commentaire">
                        <button class="btn btn-outline-secondary" id="enter">ENTER</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 ml-md-auto" id="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
                </div>
            </div>
        </div>
</main>
{% endblock %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $("#enter").click(function () {
        var commentaires = $('#inputCommentaires').val();

        // envoie des données en bdd 
        $.post('/commit', {
                commentaires: commentaires,
            }, function (data) {
                $( "#comments" ).append(`
                <div>${data}</div>
                `);
                console.log(data);
            },
            'json');
    })
    
</script>
{% endblock %}
