{% extends "layouts/base.html" %}
{% block meta %}
<meta name=" description" content=" Description de la page">
<meta name=" robots" content=" index, follow">
{% endblock %}
{% block css %}
<style>
    .block-partenaires {
        margin: auto;
        width: 50%;
        margin-bottom: 3%;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
    }

    .sous-titre1 {
        font-weight: bold;
    }


    .title-partenaire {
        background-image: url(/images/chat_partenaire.jpg);
        background-size: cover;
        background-position-y: center;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
        width: 80%;
        border-radius: 10px;
        padding: 4% 0% 4% 0%;
        font-family: 'Francois One', sans-serif;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 4em;
        line-height: 0%;
        margin-bottom: 3%;
    }

    .montitre {
        font-size: 1em;
    }

    .thecarousel {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }

    .boite-partner {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .boite-partner:hover {
        background-color: rgba(245, 228, 0, 0.4);
    }

    .logo-partner {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 33.33333%;
        height: 200px;
    }

    .page-partner{
        margin: 4% 0 4% 0;
    }

    @media only screen and (max-width: 990px){
        .logo-partner {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 150px;}
        
        .montitre {
        font-size: 0.5em;}

        .block-partenaires {
        width: 80%;}

        .title-partenaire {
            width: 100%;
            border-radius: 0;
        }

        .sous-titre1{
            text-align: center;
            font-size: 1.3em;
        }

        .page-partner{
        margin: 0% 0 4% 0;
    }
    }
</style>
{% endblock %}
{% block content %}
    <div class="page-partner">
        <div class="div_contenaire_partenaire">
            <div class="title-partenaire">
                <i class="fas fa-handshake"></i>
                &nbsp;
                <h2 class="montitre">Nos partenaires</h2>
            </div>
            <div class="block-partenaires">
                <h3 class="sous-titre1">Nous vous remercions !</h3>
                <p>
                    Il est évident qu'aujourd'hui une association ne peut vivre sans
                    l'aide d'homme et de femme,
                    alors,
                    à vous nos partenaires, nous vous témoignons notre gratitude
                    pour le soutien que vous nous apportez.
                    <br>
                    Nos partenaires soucieux du bien être animal, nous suivent dans toutes nos actions!
                </p>
            </div>
            <div class="block-partenaires">
                <h3 class="sous-titre1">Nos partenaires :</h3>
            </div>
            <div class="thecarousel">
                <a class="logo-partner" style="background-image: url(/images/logo_elagage_evolution.png);"
                    href="http://www.elagage-evolution.sitew.com/" target="_blank">
                    <div class="boite-partner"></div>
                </a>
                <a class="logo-partner" style="background-image: url(/images/logo-dogme.jpeg);"
                    href="https://www.facebook.com/DogMe.nc/?pageid=188484478543433&ftentidentifier=627305311328012&padding=0" target="_blank">
                    <div class="boite-partner"></div>
                </a>
                <a class="logo-partner" style="background-image: url(/images/logo-bandeanounou.png);"
                    href="http://labandeanounou.nc/" target="_blank">
                    <div class="boite-partner"></div>
                </a>
                <a class="logo-partner" style="background-image: url(/images/logo-croqadom.jpeg);"
                    href="https://croqadom.nc/fr/" target="_blank">
                    <div class="boite-partner"></div>
                </a>
                <a class="logo-partner" style="background-image: url(/images/logo_ouEstLeChat.png);"
                    href="https://www.chat-perdu.org/fr-nc/" target="_blank">
                    <div class="boite-partner"></div>
                </a>
                <a class="logo-partner" style="background-image: url(/images/logo_bien_naitre_animal.png);"
                    href="https://www.helloasso.com/associations/bien-naitre-animal" target="_blank">
                    <div class="boite-partner"></div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}