{% extends "layouts/base.html" %}
{% block css %}
<style>
    .titre_partenaire {
        text-align: center;
    }
    .img_partenaire{
        height: 13em;
    }
</style>
{% endblock %}
{% block content %}
<main class="main_partenaire">
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h1 class="titre_partenaire">NOS PARTENAIRES</h1>
                <br>
                <p>Nos partenaires soucieux du bien être animal, nous suivent dans toutes nos actions!</p>         
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href="http://www.elagage-evolution.sitew.com/">
                <img class="img_partenaire" src="images/logo_elagage_evolution.png" alt="logo elagage evolution">
            </a>
          </div>
          <div class="col-sm">
            <a href="http://www.elagage-evolution.sitew.com/">
                <img class="img_partenaire" src="images/logo_elagage_evolution.png" alt="logo elagage evolution">
            </a>
          </div>
          <div class="col-sm">
            <a href="http://www.elagage-evolution.sitew.com/">
                <img class="img_partenaire" src="images/logo_elagage_evolution.png" alt="logo elagage evolution">
            </a>
          </div>
        </div>
      </div>
      <br>
      <br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <p>    
                Il est évident qu'aujourd'hui une association ne peut vivre sans l'aide d'homme et de femme, alors,
                à vous nos partenaires, nous vous témoignons notre gratitude
                pour le soutien que vous nous apportez.
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
{% endblock %}