{% extends "layouts/base.html" %}

{% block css %}
<style>
  body {
    background-color: white;
  }
</style>
{% endblock %}


{% block content %}
<main>
  <div class="container">
    <h2 class="titres text-center m-4">CONSEILS POUR UN ANIMAL PERDU</h2>
    <div class="row">
      <div class="col m-4">
        <h4 class="titres text-center">CONSEILS</h4>
        <ul>
          <li>Préparer les informations sur votre animal (photo, couleur, collier, n° tatouage, lieux de disparition,
            signes particuliers, etc.)</li>
          <li>Utiliser l'application LOSTDOG (sur mobile), dans la catégorie perdus/trouvés </li>
          <li>Prévenir la fourrière et le refuge SPANC</li>
          <li>Faire une déclaration de perte aupès de la gendarmerie ou de la police</li>
          <li>Prévenir les vétérinaires des environs</li>
          <li>Distribuer des affiches, appeler les radios et prendre contact avec un maximum de communautés Facebook
          </li>
        </ul>
      </div>
      <div class="col m-4">
        <h4 class="titres text-center">CONTACT IMPORTANT</h4>
        <h6>FOURRIERE</h6>
        <ul>
          <li>Téléphone : 26.86.66</li>
          <li>Adresse : 16 rue Raymonde JORE - DUCOS</li>
          <li>LUNDI - JEUDI : 8h00 à 15h30 en continu</li>
          <li>VENDREDI : 8h00 à 12h00</li>
          <li>Photos sur www.sign.nc</li>
          <li>Ou dans LOSTDOG "animaux capturés"</li>
        </ul>
        <h6>RADIO OCEANE FM</h6>
        <ul>
          <li>Antenne : 36.70.71
          <li>Standard : 41.00.95</li>
        </ul>
        <div class="titres text-center m-4">
          <button type="button " class="btn btn btn-primary " class="card-body" data-toggle="popover"
            title="AUTRES CONTACTS" data-content="RADIO NC 1ère : 25.82.58 LA BANDE A NOUNOUS
             Téléphone : 79.41.30
             @ : spanc-nc@hotmail.nc
            AAAC :
          Téléphone : 47.12.66
          @ : aaac.caledo@gmail.com
          site : http://www.aaac-nouvelle-caledonie.net
          BIEN NAÎTRE ANIMAL
          Téléphone : 50.08.03
          @ : bna.animal0nc@gmail.com
          CHATS DE NC: 
          Téléphone : 91.97.60
          @ : chatdenc@gmail.com
          REFUGE ANIMALIER NC: 
          Téléphone : 78.75.20
          @ : ranc@lagoon.nc
          SOS ANIMAUX: 
          Téléphone : 76.02.08
          @: sosanimauxnc@hotmail.fr
          ANIMAL ACTION : 
          @ : animal.action.nc@gmail.com
          ">PLUS DE CONTACTS</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="images/petit_chien.jpg" class="card-img img-fluid" alt="chien dans un carton">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Conseil pour retrouver un chien</h5>
            <p class="card-text">
              <ul>
                <li>Faites un tour du quartier en sifflant dans le quartier</li>
                <li>Déposez un vêtement qui vous appartient au dernier endroit où il a été vu</li>
                <li>Laissez uniquement un bol d'eau à proximité. Pas de nourriture pour éviter d'attirer d'autres
                  animaux</li>
                <li>Demandez à vos voisins d'être vigilants</li>
                <li>Revenez régulièrement là où il a été vu en dernier, et appelez-le régulièrement</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Conseil pour retrouver un chat</h5>
            <p class="card-text">
              <ul>
                <li>Le chat est souvent plus plès que l'on ne pense. Si votre animal n'est pas stérilisé, il a tendance
                  à
                  beaucoup plus s'éloigner !</li>
                <li>Essayez de l'appeler régulièrement lors de moment calme, soit tôt le matin ou tard le soir.</li>
                <li>Munissez_vous d'une lampe torche, cela vous permettra de voir ses yeux qui brillent dans le noir
                </li>
                <li>Secouez les croquettes, car entre l'odeur et le bruit familier, cela peut l'inciter à sortir de sa
                  cachette.</li>
                <li>Cherchez dans tous les recins possibles, un chat peut se faufiler partour, notamment s'il est blessé
                  ou
                  effrayé</li>
                <li>Demandez à vos voisins de regarder chez eux.</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="images/petit_chat.jpg" class="card-img img-fluid" alt="chat gris avec des tâches">
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

{% endblock %}