{% extends "layouts/base.html" %}
{% block css %}
<style>
    .container_tutoriel {
        padding-top: 50px;
        padding-bottom: 80px;
        border-top-style: solid;
        border-top-color: #EFE21D;
    }

    .container_title {
        padding-bottom: 30px;
    }

    .container_title {
        padding-bottom: 30px;
    }

    .title_tuto {
        text-align: center;
    }

    .img_tuto {
        height: 200px;
        border-radius: 10px;
    }

    .container_consultation {
        padding-top: 50px;
        border-top-style: inset;
    }

    .div_contenu_consult {
        display: flex;
        padding-top: 50px;
        padding-right: 20px;
        margin-bottom: 30px;
    }

    .div_paragraphe {
        padding-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="container_tutoriel container">
        <div class="container_title">
            <h3 class="size-h3 title_tuto">Tutoriel pour l'utilisation de l'application mobile</h3>
        </div>
        <div class="row container_consultation justify-content-center">
            <h5>Pour consulter les animaux perdus et trouvés</h5>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>1.</b> Quand vous ouvrez votre application, cliquer sur 'Album photo'</p>
                </div>
                <div>
                    <img class="img_tuto" src="images/acc_app.png" alt="accueil de l'application">
                </div>
            </div>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>2.</b> Si vous voulez consulter les animaux trouvés, taper sur 'trouvé', les
                        animaux perdu, allez sur
                        'perdu'. Et enfin, si vous voulez en
                        adopter, choisissez 'A adopter'.
                    </p>
                </div>
                <div>
                    <img class="img_tuto" src="images/choix_statut_consult.png" alt="accueil de l'application">
                </div>
            </div>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>3.</b>Choisir le type de l'animal que vous recherchez, en cliquant soit sur
                        chien, soit sur chat</p>
                </div>
                <div>
                    <img class="img_tuto" src="images/choix_race_consult.png" alt="accueil de l'application">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>4.</b> Vous pouvez choisir le moment où l'annnonce a été publiée</p>
                </div>
                <div>
                    <img class="img_tuto" src="images/choix_date_consult.png" alt="accueil de l'application">
                </div>
            </div>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>5.</b> Vous avez les annonces qui s'affichent une par une. Vous avez la
                        possibilité de zapper en cliquant sur les flêches du bas</p>
                </div>
                <div>
                    <img class="img_tuto" src="images/annonce_consult.png" alt="accueil de l'application">
                </div>
            </div>
        </div>
        <div class="row container_consultation justify-content-center">
            <h5>Pour ajouter un animal (perdu, trouvé ou a adopté)</h5>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>1.</b> Sur l'accueil cliquer sur 'Ajouter un animal'. Ensuite selon la situation qui vous
                        convient
                        cliquer sur "Mon album photo". Dans le cas d'un animal trouvé il est possible de prendre une
                        photo avec GPS en cliquant sur "Prendre photo (GPS)" </p>
                </div>
                <div>
                    <img class="img_tuto" src="images/acc_ajout_anim_tuto.jpg" alt="accueil de l'application">
                </div>
            </div>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>2.</b>Lorsque votre écran s'affiche comme l'image ci-contre, taper sur le type d'animal que
                        vous
                        ajouter. 
                    </p>
                </div>
                <div>
                    <img class="img_tuto" src="images/choix_race_ajout_tuto.jpg" alt="accueil de l'application">
                </div>
            </div>
            <div class="col div_contenu_consult">
                <div class="div_paragraphe">
                    <p class="size-p"><b>3.</b>Enfin, rédiger votre publication en mettant le plus d'information possible concernant
                        l'animal.
                    </p>
                </div>
                <div>
                    <img class="img_tuto" src="images/ajouter_comm_tuto.jpg" alt="accueil de l'application">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}

{% endblock %}