//variable
$jaune : #F5E400;


.btn {
  border-radius: 3px;
  &:hover {
    color: #f5f9ff;
    border-color: white;
  }
}
.btn-primary {
  background-color: $jaune;
  color: black;
  border-color: $jaune;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 26px 15px;
  line-height: 21px;
  transition: .3s all ease;
  &:hover {
    background-color: #2e2b00;
  }
}


