.info-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5E401;
    padding: 7px 0 7px 0;
    font-family: 'Open Sans', sans-serif;
}

.infos{
    color: #000000;
    font-size: 1.5em;
}

.logo-navbar{
    width: 10%;
    margin-left: 10%;
}

.menu-navbar{
    margin-right: 10%;
}

.entrypoints:hover{
    color: #000000;
    text-decoration: underline 3px #F5E401;
}

.add-annonce-nav{
    background-color: rgba($color: #F5E401, $alpha: 1);
    color: #FFFFFF;
    border-radius: 3px;
}

.add-annonce-nav:hover{
    transition: .3s all ease;
    background-color: #2e2b00;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #000000;
}

.navbar-light .navbar-nav .add-annonce-nav:hover{
    color: #FFFFFF;
}