.info-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5E400;
    padding: 7px 0 7px 0;
    font-family: 'Open Sans', sans-serif;
}

.mobile-navbar{
    display: none;
}

.infos{
    color: #000000;
    font-size: 1.5em;
}

.logo-navbar{
    width: 9%;
    margin-left: 10%;
}

.menu-navbar{
    margin-right: 10%;
}

/* code ken underline outwards */
a.entrypoints {
    position: relative;
    &:hover{
        text-shadow: 0.4px 0px 0.4px #000000;
    }
}

a.entrypoints.dropdown-toggle:after{
    background: none;
}
a.entrypoints:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #F5E400;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
a.entrypoints:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


.add-annonce-nav{
    background-color: rgba($color: #F5E400, $alpha: 1);
    color: #FFFFFF;
    border-radius: 3px;
}

.add-annonce-nav:hover{
    transition: .3s all ease;
    background-color: #2e2b00;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #000000;
}

.navbar-light .navbar-nav .add-annonce-nav:hover{
    color: #FFFFFF;
}

.entrypoints2{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.entrypoints2:hover{
    background-color: rgba(245, 228, 0, 0.7);
}

.deroulant{
    border: #000000 solid 1px;
    color: #000000;
}

@media only screen and (max-width: 990px){

    .info-navbar{
        display: none;
    }

    .logo-navbar{
        display: none;
    }

    .logo-mobile{
        display: flex;
        justify-content: start;
        color: #000000;
        font-family: 'Big Shoulders Stencil Text', cursive;
        font-size: 2em;
        margin-left: 7%;
    }

    .bouton-mobile{
        color: #000000;
        font-size: 1.5em;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000000;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    .add-annonce-nav{
        color: #000000;
        background-color: #FFFFFF;
        border-radius: 3px;
    }

    .mobile-navbar{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1% 5% 1% 5%;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }

    .entrypoints, .add-annonce-nav{
        transition: ease-in-out 0.2s;
        width: 100%;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }

    .menu-deroulant{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
    }

    .leheader{
        background-color: #F5E400;
    }

    .menu-navbar{
        margin-right: 0;
        margin-bottom: 0;
    }

    .entrypoints2{
        color: #000000;
        font-family: 'Open Sans', sans-serif;
    }
 
    .deroulant{
        border: none;
        background-color: rgba($color: #FFFFFF, $alpha: 0.35);
        text-align: center;
        margin-top: 0;
    }
}
