.logo-navbar{ 
    margin-left: 5%;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: 'Big Shoulders Stencil Text';
    width: 15%;
}

.logo-name{
    margin: 1% 0 0% 5%;
    font-size: 2em;
}
.image-logo{
    max-width: 30%;
}

.header{
    width: 100%;
    background-color: #EDEDED; 
}

.appli-mobile{
    text-align: center; 
    text-decoration: none; 
    color: #000000; 
    width: 15%;
    margin-left: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 1%;
}
    

.appli-mobile:hover{
    color: #00A8E8};

.bg-navbar {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 1%;
}

.link-color{
    color: #828282; 
    font-size: 1.2em;
    text-decoration: none;
}

.link-color:hover{
    color: #00A8E8;}

.link-part{
    display: none;
}

.logo-mobile{
    font-size: 2em;
    background-image: url("/images/logo-lostdog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F2E41B;
    background-position-y: 30%;
}
.btn-navbar{
    border: none;
    background-color: #00A8E8;
    width: 12%;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: -2%;
    color: #FFFFFF;
}

.btn-navbar:hover{
    background-color: #F2E41B;
    color: #000000;
    border: none;
}

.box-btn{
    display: flex;
    justify-content: center;
}

.liste{
    display: flex;
    flex-flow: row;
    list-style-type: none;
    justify-content: center;
}

.element-nav{
    margin: 0% 5% 0% 5%;
}

@media only screen and (max-width: 800px){
    .liste{
        font-size: 0.8em;
        flex-flow: column;
    }

    .btn-navbar{
    display: none;
    }

    .link-part{
        display: inline-block;
        border: none;
        background-color: #00A8E8;
        padding: 5px;
        border-radius: 15px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .logo-name{
        font-size: 1.5em;
    }

    .logo-navbar{
        width: 20%;
    }

    .appli-mobile{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px){
    .liste{
        font-size: 0.8em;
        flex-flow: column;
    }

    .btn-navbar{
    display: none;
    }

    .link-part{
        display: inline-block;
        border: none;
        background-color: #00A8E8;
        padding: 5px;
        border-radius: 15px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .logo-name{
        font-size: 1.2em;
    }

    .logo-navbar{
        width: 25%;
    }

    .appli-mobile{
        font-size: 0.7em;
    }
}