.font-site {
  font-family: 'Big Shoulders Stencil Text', cursive;
}
.font-title{
  font-family: 'Francois One', sans-serif;
}
.font-default {
  font-family: 'Noto Sans JP', sans-serif;
}

.font-navbar {
  font-family: 'Open Sans', sans-serif;
}
