.searchbar{
  color: #000000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-weight: 400;
  height: 50px;
  padding: 16px 30px 16px 35px;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: none;
  position: relative;
}
.button, buttonsearch{
  height: 50px;
}
.buttonsearch{
  width: 100%;
}
.loupe{
  color: #F5E400;
  position: absolute;
  z-index: 1;
  left: 385px;
  top: 172px;
}
