.size-h1{
  @extend .display-1;
  font-weight: bold;
}
.size-h2{
  @extend .h2;
  font-weight: bolder;
}
.size-h3{
  @extend .h3;
  font-weight: bolder;
}
.size-p{
  font-size: 100%;
  font-weight: normal;
}
.size-small{
  font-size: 65%;
  font-weight: lighter;
}
.bg-default{
  background-color: $gray-200;
}
.bg-dark{
  background-color: $gray-300;
}
.size-small{
  font-size:65% ;
}