.size-h1{
  font-size: 4em;
  font-weight: bold;
}
.size-h2{
  font-size: 2em;
  font-weight: bolder;
}
.size-h3{
  font-size: 1.5em;
  font-weight: bolder;
}
.size-p{
  font-size: 1em;
  font-weight: lighter;
}
.bg-default{
  background-color: $gray-200;
}
.bg-dark{
  background-color: $gray-300;
}

.mg-lg{
  //margin: ;
  //padding: ;
}
.mg-md{
  //margin: ;
  //padding: ;
}
.mg-lt{
  //margin: ;
  //padding: ;
}
